<%= form_for(image) do |f| %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <hr>
  <div class="field hidden">
    <%= f.label :user_id, class: "form-label" %>
    <%= f.hidden_field :user_id, value: current_user.id, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :title, class: "form-label" %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :file, class: "form-label" %>
    <%= f.file_field :file, class: "form-control" %>
  </div>
  <hr>
  <div class="actions">
    <%= f.submit "Create image", class: "btn btn-primary btn-big btn-block" %>
  </div>
<% end %>
