<div class="col-sm-4 col-sm-offset-4">
  <div class="panel panel-primary">
    <div class="panel-body">
      <p id="notice"><%= notice %></p>

      <p>
        <strong>User:</strong>
        <%= @image.user_id %>
      </p>

      <p>
        <strong>Title:</strong>
        <%= @image.title %>
      </p>

      <p>
      <div class="row">
        <div class="col-md-6">
          <strong>File:</strong>
          <%= image_tag @image.file, class: "img-responsive" %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <%= link_to 'Edit', edit_image_path(@image) %> |
          <%= link_to 'Back', images_path %>
        </div>
      </div>
      </p>
    </div>
  </div>
</div>

