<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <h3><%= t "footer.about" %></h3>
        <p><%= t "footer.about_content" %></p>
      </div>
      <div class="col-md-4 col-sm-4">
        <h3><%= t "footer.contact" %></h3>
        <p><%= t "footer.contact_content" %></p>
      </div>
      <div class="col-md-4 col-sm-4">
        <h3><%= t "footer.team" %></h3>
        <strong><%= t "footer.team_content" %></strong>
      </div>
    </div>
  </div>
</footer>
